<div class="moshru">

    <div class="{{cssClass}} characterGeneratorSkillPopup">
        <div>
            <p class="skillpopupDescription">{{localize 'Moshru.CharacterGenerator.SkillOption.ChoiceText'}}</p>
        </div>
        <div class="grid grid-2col widegap">
            {{#each options}}
            <div style="border:3px solid #111;border-radius: 1em;padding: 0.5em;">

                <p style="text-decoration: underline;">{{this.name}}:
                </p>

                <ul>
                    {{#if this.master}}
                    <li>
                        {{localize 'Moshru.SkillRankMaster'}} : {{this.master}}
                    </li>
                    {{/if}}
                    {{#if this.expert}}
                    <li>
                        {{localize 'Moshru.SkillRankExpert'}} : {{this.expert}}
                    </li>
                    {{/if}}
                    {{#if this.trained}}
                    <li>
                        {{localize 'Moshru.SkillRankTrained'}} : {{this.trained}}
                    </li>
                    {{/if}}
                    {{#if this.master_full_set}}
                    <li>
                        {{localize 'Moshru.SkillRankMaster'}} & {{localize 'Moshru.SkillsPrerequisite'}} :
                        {{this.master_full_set}}
                    </li>
                    {{/if}}
                    {{#if this.expert_full_set}}
                    <li>
                        {{localize 'Moshru.SkillRankExpert'}} & {{localize 'Moshru.SkillsPrerequisite'}} :
                        {{this.expert_full_set}}
                    </li>
                    {{/if}}
                    {{#if this.from_list}}
                    <li>
                        {{UUidListToNames this.from_list}}
                    </li>
                    {{/if}}
                </ul>
            </div>
            {{/each}}

        </div>
    </div>
</div>