<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}

  <header class="creature-header-grid">
    <!-- Creature NAME -->
    <input name="name" class="noborder creaturename" style="grid-area:'name';" type="text" value="{{name}}" placeholder="{{ localize 'Moshru.Name' }}" />
    <div class="creature-header">
      {{#if system.stats.combat.enabled}}
      <!-- Combat -->
      <div class="mainstatwrapper">
        <div class="resource creature-mainstat">

          {{#if system.swarm.enabled}}
            <span class="ability-mod stat-roll rollable creaturestat" data-key="combat" data-roll="d100"
              data-label="Combat">{{ localize 'Moshru.Combat' }} {{ localize 'Moshru.SwarmWoundShort' }}</span>
            <input class="creaturestat noborder" style="width: 30px;" type="text" name="system.stats.combat.value"
              value="{{system.stats.combat.value}}" data-dtype="Number" />
          {{else}}
            <span class="ability-mod stat-roll rollable creaturestat" data-key="combat" data-roll="d100"
              data-label="Combat">{{ localize 'Moshru.Combat' }}</span>
            <input class="creaturestat noborder" style="width: 30px;" type="text" name="system.stats.combat.value"
              value="{{system.stats.combat.value}}" data-dtype="Number" />
          {{/if}}
        </div>
      </div>
      {{/if}}
      {{#if system.stats.instinct.enabled}}
      <!-- Instinct -->
      <div class="mainstatwrapper">
        <div class="resource creature-mainstat">
          <span class="ability-mod stat-roll rollable creaturestat" data-key="instinct" data-roll="d100"
            data-label="Instinct">{{ localize 'Moshru.Instinct' }}</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="system.stats.instinct.value"
            value="{{system.stats.instinct.value}}" data-dtype="Number" />
        </div>
      </div>
      {{/if}}
      {{#if system.stats.speed.enabled}}
      <!-- Speed -->
      <div class="mainstatwrapper">
        <div class="resource creature-mainstat">
          <span class="ability-mod stat-roll rollable creaturestat" data-key="speed" data-roll="d100"
            data-label="Speed">{{ localize 'Moshru.Speed' }}</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="system.stats.speed.value"
            value="{{system.stats.speed.value}}" data-dtype="Number" />
        </div>
      </div>
      {{/if}}
      {{#if system.stats.loyalty.enabled}}
      <!-- Loyalty -->
      <div class="mainstatwrapper">
        <div class="resource creature-mainstat">
          <span class="ability-mod stat-roll rollable creaturestat" data-key="loyalty" data-roll="d100"
            data-label="Speed">{{ localize 'Moshru.Loyalty' }}</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="system.stats.loyalty.value"
            value="{{system.stats.loyalty.value}}" data-dtype="Number" />
        </div>
      </div>
      {{/if}}
      {{#if system.stats.armor.enabled}}
      <!-- Armor -->
      <div class="mainstatwrapper">
        <div class="resource creature-mainstat">
          <span class="ability-mod stat-roll rollable creaturestat" data-key="armor" data-roll="d100"
            data-label="Speed">{{ localize 'Moshru.Armor' }}</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="system.stats.armor.value"
            value="{{system.stats.armor.value}}" data-dtype="Number" />
        </div>
      </div>
      {{/if}}
      {{#if system.stats.sanity.enabled}}
      <!-- Sanity -->
      <div class="mainstatwrapper">
        <div class="resource creature-mainstat">
          <span class="ability-mod stat-roll rollable creaturestat" data-key="sanity" data-roll="d100"
            data-label="Speed">{{ localize 'Moshru.Sanity' }}</span>
          <input class="creaturestat noborder" style="width: 30px;" type="text" name="system.stats.sanity.value"
            value="{{system.stats.sanity.value}}" data-dtype="Number" />
        </div>
      </div>
      {{/if}}
      <!-- <div class="health grid grid-1col">
        <div class="resource healthspread minmaxtopstat">
          <label for="system.health.value" class="resource-label minmaxtext">Health</label>

          <div class="minmaxwrapper">
            <input class="sizelarge circle-input greyText" type="text" name="system.health.value"
              value="{{system.health.value}}" data-dtype="Number" />
            <input class="maxhealth-input darkGreyText" type="text" name="system.health.max" value="{{system.health.max}}"
              data-dtype="Number" />
          </div>
          <div class="healthmaxtext">{{ localize 'Moshru.MAX' }}</div>
          <div class="healthmaxtext">{{ localize 'Moshru.CURRENT' }}</div>

        </div>
      </div> -->
    </div>
    <div class="whiteline"></div>
  </header>
  <div class="creature-description-grid">
    <div class="creaturedescription">
      <div class="grid grid-3col">
        <!-- Health -->
        <div class="resource healthspread minmaxtopstat">
          <label for="system.health.value" class="resource-label minmaxtext">{{ localize 'Moshru.Health' }}</label>
  
          <div class="minmaxwrapper">
            <input class="maxhealth-input darkGreyText" type="text" name="system.health.value" value="{{system.health.value}}"
              data-dtype="Number" />
            <div class="slant"></div>
            <input class="maxhealth-input darkGreyText" type="text" name="system.health.max" value="{{system.health.max}}"
              data-dtype="Number" />
          </div>
  
          <div class="healthmaxtext">{{ localize 'Moshru.Current' }}</div>
          <div class="healthmaxtext">{{ localize 'Moshru.Maximum' }}</div>
        </div>
  
        <!-- Hits -->
        <div class="resource healthspread minmaxtopstat">
          {{#if system.settings.firstEdition}}
          <label for="system.hits.value" class="resource-label minmaxtext">{{ localize 'Moshru.Wounds' }}</label>
          {{else}}
          <label for="system.hits.value" class="resource-label minmaxtext">{{ localize 'Moshru.Hits' }}</label>
          {{/if}}  
          <div class="minmaxwrapper">
            <input class="maxhealth-input darkGreyText" type="text" name="system.hits.value" value="{{system.hits.value}}"
              data-dtype="Number" />
            <div class="slant"></div>
            <input class="maxhealth-input darkGreyText" type="text" name="system.hits.max" value="{{system.hits.max}}"
              data-dtype="Number" />
          </div>
  
          <div class="healthmaxtext">{{ localize 'Moshru.Current' }}</div>
          <div class="healthmaxtext">{{ localize 'Moshru.Maximum' }}</div>
        </div>
        <!-- Armor -->
        <div class="resource healthspread minmaxtopstat">
          <label for="system.stats.armor.value" class="resource-label minmaxtext rollable armor-roll">{{ localize 'Moshru.Armor' }}</label>
          <div class="minmaxwrapper" style="width: 100%; background: black; border-radius: 0.3em;">
            <div class="maxhealth-input" style="display: flex;">
              <div class="whiteText" type="text" data-dtype="Number">{{system.stats.armor.mod}}</div>
              {{#if (compare 'str' system.stats.armor.cover '===' 'insignificant')}}
              <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;5</div>
              {{/if}}
              {{#if (compare 'str' system.stats.armor.cover '===' 'light')}}
              <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;10</div>
              {{/if}}
              {{#if (compare 'str' system.stats.armor.cover '===' 'heavy')}}
              <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;20</div>
              {{/if}}
            </div>
            <div class="slant" style="border-right: 2px solid #ffffff; transform: skewX(0deg);"></div>
            <div class="maxhealth-input" style="display: flex;">
              <div class="whiteText" type="text" data-dtype="Number">{{system.stats.armor.damageReduction}}</div>
              {{#if (compare 'str' system.stats.armor.cover '===' 'heavy')}}
              <div class="highlightText" type="text" data-dtype="Number" style="font-size: 0.8rem;">&nbsp;5</div>
              {{/if}}
            </div>
          </div>
          <div class="healthmaxtext">{{ localize 'Moshru.ArmorPoints' }}</div>
          <div class="healthmaxtext">{{ localize 'Moshru.DMGReduction' }}</div>
        </div>
      </div>
      <br></br>
      {{editor enriched.description target="system.description" button=true owner=owner editable=true}}
    </div>
    <div class="creature-abilities">
      <img class="img profile noborder" src="{{img}}" data-edit="img" title="{{name}}" style="height:auto; width:100%;" />
      <div class="creature-ability-container creature-ability-title">{{ localize 'Moshru.SpecialAbilities' }}</div>
      <div class="whiteline"></div>
      {{#each abilities as |ability id|}}
      <li style="margin-top: -12px" class="creature-ability-container item dropitem" data-item-id="{{ability._id}}">
        <div class="creature-ability-title list-roll description-roll">{{ability.name}}</div>
        <div class="creature-ability-text itemtext">{{{ability.system.description}}}</div>
        <div class="item-controls" style="margin-left: 3px; font-size: 0.7rem;">
          <a class="item-control item-edit darkgrey" title="{{ localize 'Moshru.EditAbility' }}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete darkgrey" title="{{ localize 'Moshru.DeleteAbility' }}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      {{/each}}
      <a class="item-control weapon-create darkgrey " style="margin-left: 5px;" title="{{ localize 'Moshru.CreateAbility' }}"
        data-type="ability"><i class="fas fa-plus"></i>
        {{ localize 'Moshru.Add' }}</a>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="moshru sheet-tabs tabs" data-group="primary">
    <a class="tab-select" data-tab="skills">{{ localize 'Moshru.Skills' }}</a>
    <a class="tab-select" data-tab="weapons">{{ localize 'Moshru.Weapons' }}</a>
    <a class="tab-select" data-tab="items">{{ localize 'Moshru.Items' }}</a>
    <a class="tab-select" data-tab="description">{{ localize 'Moshru.Bio' }}</a>
    <a class="tab-select" data-tab="notes">{{ localize 'Moshru.Notes' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor enriched.biography target="system.biography" button=true editable=true}}
    </div>
    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor enriched.notes target="system.notes" button=true editable=true}}
    </div>
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">

      {{#if system.settings.firstEdition}}
      <!-- ARMOR -->
      <ol class="items-list" role="table">
        <li class="item flexrow item-header" role="rowgroup">
          <div class="item-image" role="cell"></div>
          <div class="skill-stat" style="flex-grow: 2.5;" role="cell">{{ localize 'Moshru.ArmorName' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Moshru.AP' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Moshru.DR' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Moshru.Speed' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Moshru.Oxygen' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Moshru.Equipped' }}</div>
          <div class="item-controls" role="cell">
            <a class="item-control item-create" title="{{ localize 'Moshru.CreateArmor' }}" data-type="armor"><i class="fas fa-plus"></i> {{ localize 'Moshru.Add' }}</a>
          </div>
        </li>
        {{#each armors as |armor id|}}
        <li class="item flexrow dropitem" data-item-id="{{armor._id}}" role="rowgroup">
          <div class="item-image" role="cell"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24" /></div>
          <h4 class="skill-name list-roll description-roll" style="flex-grow: 2.55;" role="cell">{{armor.name}}</h4>
          <div class="skill-stat armor-ap list-roll" role="cell">{{armor.system.armorPoints}}</div>
          <div class="skill-stat armor-dr list-roll" role="cell">{{armor.system.damageReduction}}</div>
          <div class="skill-stat">{{armor.system.speed}}</div>
          {{#if armor.system.oxygenMax}}
          <div class="skill-stat armor-oxy list-roll" role="cell">{{armor.system.oxygenCurrent}}/{{armor.system.oxygenMax}}</div>
          {{else}}
          <div class="skill-stat" role="cell">{{ localize 'Moshru.NA' }}</div>
          {{/if}}
          <div class="skill-stat item-equip" role="cell"><input type="checkbox" name="armor.system.equipped" data-dtype="Boolean"
              {{checked armor.system.equipped}} /></div>
          <div class="item-controls" role="cell">
            <a class="item-control item-edit" title="{{ localize 'Moshru.EditArmor' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Moshru.DeleteArmor' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
      {{else}}
      <!-- ARMOR -->
      <ol class="items-list" role="table">
        <li class="item flexrow item-header" role="rowgroup">
          <div class="item-image" role="cell"></div>
          <div class="skill-stat" style="flex-grow: 2.5;" role="cell">{{ localize 'Moshru.ArmorName' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Moshru.SaveBonus' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Moshru.Speed' }}</div>
		      <div class="skill-stat" role="cell">{{ localize 'Moshru.Oxygen' }}</div>
          <div class="skill-stat" role="cell">{{ localize 'Moshru.Equipped' }}</div>
          <div class="item-controls" role="cell">
            <a class="item-control item-create" title="{{ localize 'Moshru.CreateArmor' }}" data-type="armor"><i class="fas fa-plus"></i> {{ localize 'Moshru.Add' }}</a>
          </div>
        </li>
        {{#each armors as |armor id|}}
        <li class="item flexrow dropitem" data-item-id="{{armor._id}}" role="rowgroup">
          <div class="item-image" role="cell"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24" /></div>
          <h4 class="skill-name list-roll description-roll" style="flex-grow: 2.55;" role="cell">{{armor.name}}</h4>
          <div class="skill-stat armor-ap list-roll" role="cell">{{armor.system.armorPoints}}</div>
          <div class="skill-stat">{{armor.system.speed}}</div>
          {{#if armor.system.oxygenMax}}
          <div class="skill-stat armor-oxy list-roll" role="cell">{{armor.system.oxygenCurrent}}/{{armor.system.oxygenMax}}</div>
          {{else}}
          <div class="skill-stat" role="cell">{{ localize 'Moshru.NA' }}</div>
          {{/if}}
          <div class="skill-stat item-equip" role="cell"><input type="checkbox" name="armor.system.equipped" data-dtype="Boolean"
              {{checked armor.system.equipped}} /></div>
          <div class="item-controls" role="cell">
            <a class="item-control item-edit" title="{{ localize 'Moshru.EditArmor' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Moshru.DeleteArmor' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
      {{/if}}

      <!-- ITEMS -->
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat" style="flex-grow: 1.5;">{{ localize 'Moshru.ItemName' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.Quantity' }}</div>
          {{#if system.settings.hideWeight}}
          {{else}}
          <div class="skill-stat">{{ localize 'Moshru.Weight' }}</div>
          {{/if}}
          <div class="skill-stat">{{ localize 'Moshru.Value' }}</div>
          <div class="item-controls">
            <a class="item-control item-create" title="{{ localize 'Moshru.CreateItem' }}" data-type="item"><i class="fas fa-plus"></i> Add</a>
          </div>
        </li>
        {{#if system.settings.hideWeight}}
          {{#each gear as |item id|}}
          <li class="item flexrow dropitem" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="skill-name list-roll description-roll" style="flex-grow: 1.5;">{{item.name}}</h4>
            <div class="skill-stat list-roll item-quantity">{{item.system.quantity}}</div>
            <div class="skill-stat">{{item.system.cost}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="{{ localize 'Moshru.EditItem' }}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{ localize 'Moshru.DeleteItem'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        {{else}}
          {{#each gear as |item id|}}
          <li class="item flexrow dropitem" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="skill-name list-roll description-roll" style="flex-grow: 1.54;">{{item.name}}</h4>
            <div class="skill-stat list-roll item-quantity">{{item.system.quantity}}</div>
            <div class="skill-stat">{{item.system.weight}}</div>
            <div class="skill-stat">{{item.system.cost}}</div>
            <div class="item-controls">
              <a class="item-control item-edit" title="{{ localize 'Moshru.EditItem' }}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{ localize 'Moshru.DeleteItem' }}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        {{/if}}
      </ol>
      {{#unless system.settings.hideWeight}}
      <div class="item flex-group-left item-header">
        <div class="skill-stat" style="flex-grow: 1.5;">{{ localize 'Moshru.CarryingCapacity' }}: {{system.weight.capacity}}</div>
        <div class="skill-stat">{{ localize 'Moshru.CurrentWeight' }}: {{system.weight.current}}</div>
      </div>
      {{/unless}}

    </div>
    {{!-- Owned Skills Tab --}}
    <div class="tab items" data-group="primary" data-tab="skills">
      <!-- SKILLS -->
      <ol class="items-list" style="margin-bottom : 10px;">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat">{{ localize 'Moshru.SkillName' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.SkillRank' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.SkillBonus' }}</div>
          <div class="item-controls">
            <a class="item-control skill-create" title="{{ localize 'Moshru.CreateSkill' }}" data-type="skill"><i class="fas fa-plus"></i> {{ localize 'Moshru.Add' }}</a>
          </div>
        </li>
        {{#each skills as |skill id|}}
        <li class="item flexrow dropitem" data-item-id="{{skill._id}}">
          <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div>
          <div class="skill-name skill-roll list-roll">{{skill.name}}</div>
          <div class="skill-stat">{{skill.system.rank}}</div>
          <div class="skill-stat">{{skill.system.bonus}}</div>
          <div class="item-controls">
            <a class="item-control skill-edit" title="{{ localize 'Moshru.EditSkill' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Moshru.DeleteSkill' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>

      {{#if system.settings.firstEdition}}

      <!-- XP -->
      <div class ="skill_training_frame" style="margin-bottom : 10px;">
        <div class="grid grid-3col" style="grid-template-columns: 90px auto 283px ;">
          <div class="skill-stat" style="position: relative; top: 6px;"><strong>{{ localize 'Moshru.SkillTraining' }}</strong></div>
          <textarea name="system.xp.selectedSkill" rows="2" class="textarea-input-grey" type="text" data-target="system.xp.selectedSkill" placeholder="" style="height: 30px; margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); background: white; color: black;">{{system.xp.selectedSkill}}</textarea>
          <div class="char-pip-button list-roll flex" style="position: relative; top: -7px;" data-key="xp" data-label="XP" data-max="16"  data-min="0">{{{system.xp.html}}}</div>
        </div>
      </div>

      {{/if}}
      
      <div class="seperatorLine"></div>



      <!-- Conditions -->
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat">{{ localize 'Moshru.Condition' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.Severity' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.Treatment' }}</div>
          <div class="item-controls">
            <a class="item-control item-create" title="{{ localize 'Moshru.CreateCondition' }}" data-type="condition"><i class="fas fa-plus"></i> {{ localize 'Moshru.Add' }}</a>
          </div>
        </li>
        {{#each conditions as |condition id|}}
        <li class="item flexrow dropitem" data-item-id="{{condition._id}}">
          <div class="item-image"><img src="{{condition.img}}" title="{{condition.name}}" width="24" height="24"/></div>
          <div class="skill-name description-roll list-roll">{{condition.name}}</div>
          <div class="skill-stat list-roll severity">{{condition.system.severity}}</div>
          <div class="skill-stat">
            {{#if condition.system.treatment.html}}
            <div class="treatment-button list-roll flex" style="margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);" data-key="condition" data-label="condition" data-max="3"  data-min="0">
            {{{condition.system.treatment.html}}}
            </div>
            {{else}}
            <div class="treatment-button list-roll flex" style="margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);" data-key="condition" data-label="condition" data-max="3"  data-min="0">
            {{condition.name}}
            </div>
            {{/if}}
          </div>
          <div class="item-controls">
            <a class="item-control skill-edit" title="{{ localize 'Moshru.EditCondition' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Moshru.DeleteCondition' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>

        {{/each}}
      </ol>


    </div>

    {{!-- Owned Weapons Tab --}}
    <div class="tab items" data-group="primary" data-tab="weapons">
      <!-- WEAPONS -->
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="skill-stat" style="flex-grow: 2;">{{ localize 'Moshru.WeaponName' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.Damage' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.Ammo' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.Shots' }}</div>
          <div class="skill-stat">{{ localize 'Moshru.Range' }}</div>
          <div class="item-controls">
            <a class="item-control weapon-create" title="{{ localize 'Moshru.CreateWeapon' }}" data-type="weapon"><i class="fas fa-plus"></i> {{ localize 'Moshru.Add' }}</a>
          </div>
        </li>

        {{#each weapons as |weapon id|}}
        <li class="item flexrow dropitem" data-item-id="{{weapon._id}}">
          <!-- <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div> -->
          <div class="item-image"><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24" /></div>
          <div class="skill-name weapon-roll list-roll" style="flex-grow: 2.05;">{{weapon.name}}</div>
          {{#if weapon.system.antiArmor}}
          <div class="skill-stat dmg-roll list-roll">{{weapon.system.damage}} ({{ localize 'Moshru.AntiArmorAcronym' }})</div>
          {{else}}
          <div class="skill-stat dmg-roll list-roll">{{weapon.system.damage}}</div>
          {{/if}}
          {{#if weapon.system.useAmmo}}
          <div class="skill-stat weapon-ammo list-roll">{{weapon.system.ammo}}</div>
          {{else}}
          <div class="skill-stat">{{ localize 'Moshru.NA' }}</div>
          {{/if}}
          {{#if weapon.system.useAmmo}}
            {{#if (compare 'int' weapon.system.curShots '===' weapon.system.shots)}}
            <div class="skill-stat">
              <a class="weapon-shots list-roll" title="{{ localize 'Moshru.EditWeapon' }}">{{weapon.system.curShots}}/{{weapon.system.shots}}</a>
            </div>
            {{else}}
            <div class="skill-stat">
              <a class="weapon-shots list-roll">{{weapon.system.curShots}}/{{weapon.system.shots}}</a>
              <a class="weapon-reload list-roll"><i class="fas fa-sync"></i></a>
            </div>
            {{/if}}
          {{else}}
          <div class="skill-stat">{{ localize 'Moshru.NA' }}</div>
          {{/if}}
          {{#if weapon.system.ranges.value}}
          <div class="skill-stat">{{weapon.system.ranges.value}}</div>
          {{else}}
          <div class="skill-stat">{{ localize 'Moshru.NA' }}</div>
          {{/if}}
          <div class="item-controls">
            <a class="item-control weapon-edit" title="{{ localize 'Moshru.EditWeapon' }}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="{{ localize 'Moshru.DeleteWeapon' }}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>
