  <div class ="macro_window">
    <div class="macro_desc" style="padding-left: 8px;">
      <h4>{{ localize 'Moshru.AddASkill'}}</h4>
      {{ localize 'Moshru.IfYouHaveARelevantSkill'}} <em>{{ localize 'Moshru.GivingYouAHigherNumber' }}</em>
    </div>    
  </div>
  <label for="">
  <div class ="macro_window" style="vertical-align: middle; padding-left: 8px; padding-left: 3px;">
    <div class="grid grid-2col" style="align-items: center; grid-template-columns: 20px auto">
    <input type="radio" id="" name="skill" value=0 checked >
    <div class="macro_desc" style="display: table;">
      <span style="display: table-cell; vertical-align: middle;">
      <p> {{ localize 'Moshru.DoNotAddASkillToThisRoll' }}<p>
      </span>
    </div>    
    </div>
  </div>
  </label>